In [2]:
library(dplyr)
library(tidyverse)
library(ggplot2)

In [15]:
players <- read_csv('players.csv')
sessions <- read_csv('sessions.csv')
head(players)
head(sessions)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

In [18]:
players_use <- players |>
    select(experience, subscribe, played_hours, gender, Age) 

head(players_use)

players_numeric <- players_use |>
    mutate(
    experience = case_when(
      experience == "Beginner" ~ 1,
      experience == "Amateur" ~ 2,
      experience == "Regular" ~ 3,
      experience == "Veteran" ~ 4,
      experience == "Pro" ~ 5),
    subscribe = as.numeric(subscribe),  # 1 = TRUE, 0 = FALSE
    gender = case_when(
      gender == "Male" ~ 1,
      gender == "Female" ~ 2,
      gender == "Non-binary" ~ 3,
      gender == "Transgender" ~ 4,
      gender == "Agender" ~ 5,
      gender == "Two-Spirited" ~ 6,
      gender == "Prefer not to say" ~ 7,
      gender == "Other" ~ 8),
    played_hours = as.numeric(played_hours),  
    Age = as.numeric(Age))

head(players_numeric)

  experience subscribe played_hours gender Age
1 Pro         TRUE     30.3         Male    9
2 Veteran     TRUE      3.8         Male   17
3 Veteran    FALSE      0.0         Male   17
4 Amateur     TRUE      0.7         Female 21
5 Regular     TRUE      0.1         Male   21
6 Amateur     TRUE      0.0         Female 17

  experience subscribe played_hours gender Age
1 5          1         30.3         1       9
2 4          1          3.8         1      17
3 4          0          0.0         1      17
4 2          1          0.7         2      21
5 3          1          0.1         1      21
6 2          1          0.0         2      17

In [21]:
str(players_numeric)

tibble [196 × 5] (S3: tbl_df/tbl/data.frame)
 $ experience  : num [1:196] 5 4 4 2 3 2 3 2 2 4 ...
 $ subscribe   : num [1:196] 1 1 0 1 1 1 1 0 1 1 ...
 $ played_hours: num [1:196] 30.3 3.8 0 0.7 0.1 0 0 0 0.1 0 ...
 $ gender      : num [1:196] 1 1 1 2 1 2 2 1 1 2 ...
 $ Age         : num [1:196] 9 17 17 21 21 17 19 21 17 22 ...

In [22]:
write.csv(players_numeric, "players_numeric_cleaned.csv", row.names = FALSE)